@model ProyectoISW2.Models.Curso

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lapices.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lapices.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manual.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manual.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proyector.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyector.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prueba.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prueba.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ot)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Docente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadLapices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadLapices)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadPrueba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadPrueba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadManual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadManual)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
