<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body class="padb">
        
            <div class="navbar-inverse  inacap">
                <img src="~/Image/logoINACAP.png" class="inalogo" />
                
                <span class="areacap">Inventario Capacitaciones</span>
               
    

    <div class="container">
       
        <div class="navbar-header">
            






        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")



        </div>

    </div>

</div>

            
                    <div class="container body-content altoo">
                        

    @if (Session["userId"] != null)
    {
        <nav class="navbar navbar-default custmenu" role="navigation">



            @if (Session["rol"].Equals("ADMINISTRADOR"))
            {
            <ul class="nav navbar-nav ">
                <li class="custli">@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                <li class="custli">@Html.ActionLink("Cursos", "Index", "Cursos")</li>
                <li class="custli">@Html.ActionLink("Agregar Stock", "Index", "Inventario")</li>
                <li class="dropdown custli">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventario <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="ddli">@Html.ActionLink("Pruebas", "Index", "Pruebas")</li>
                        <li class="ddli">@Html.ActionLink("Manuales", "Index", "Manuales")</li>
                        <li class="ddli">@Html.ActionLink("Lapices", "Index", "Lapices")</li>
                        <li class="ddli">@Html.ActionLink("Proyectores", "Index", "Proyectores")</li>

                    </ul>
                </li>


            </ul>
            }
            @if (Session["rol"].Equals("USUARIO"))
            {
            <ul class="nav navbar-nav ">

                <li class="custli">@Html.ActionLink("Cursos", "Index", "Cursos")</li>
                <li class="custli">@Html.ActionLink("Agregar Stock", "Index", "Inventario")</li>
                <li class="dropdown custli">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventario <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="ddli">@Html.ActionLink("Pruebas", "Index", "Pruebas")</li>
                        <li class="ddli">@Html.ActionLink("Manuales", "Index", "Manuales")</li>
                        <li class="ddli">@Html.ActionLink("Lapices", "Index", "Lapices")</li>
                        <li class="ddli">@Html.ActionLink("Proyectores", "Index", "Proyectores")</li>

                    </ul>
                </li>


            </ul>
            }
        </nav>
    }
                        


                        
                        @RenderBody()
                        
                    </div>
                    
               
        <hr />
        <footer class="footer2">
            <p>&copy; @DateTime.Now.Year - MarmotaSoft ® </p>
        </footer>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
</body>

</html>
