@model IEnumerable<ProyectoISW2.Models.Proyector>


<table class="table">
    <tr>
        <th>
            Modelo Proyector
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asignacion)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asignacion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", "Manuales", new { id = item.Id }, null) |

                @Html.ActionLink("Eliminar", "Delete", "Manuales", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

