@model ProyectoISW2.Models.Stock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lapices.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lapices.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manual.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manual.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prueba.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prueba.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadLapices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadLapices)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadPrueba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadPrueba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadManual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadManual)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
