@model IEnumerable<ProyectoISW2.Models.Stock>

@{
    ViewBag.Title = "Index";
}
<div class="formcustom form-horizontal">
    <h3>Stock</h3>

    <p>
        @Html.ActionLink("Agregar Stock", "Create")
    </p>
    <table class="table">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Manual.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prueba.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadLapices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadPrueba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadManual)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Manual.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prueba.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadLapices)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadPrueba)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadManual)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) 
                    
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>