@model ProyectoISW2.Models.Usuario

@{
    ViewBag.Title = "Delete";
}
<h3>Eliminar Usuario</h3>


<h3 class="text-center">¿Esta seguro que desea eliminar el usuario @Html.DisplayFor(model => model.User)?</h3>
<hr />

<div class="formchi">
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color butchi">
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        @Html.ActionLink("Volver a la lista", "Index")
    </div>
    }
</div>
