@model IEnumerable<ProyectoISW2.Models.Usuario>

@{
    ViewBag.Title = "Index";
}


<div class="formcustom form-horizontal">
    <h3>Usuarios</h3>
    <p>
        @Html.ActionLink("Crear Nuevo Usuario", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Rol)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) 
                    
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>