@model ProyectoISW2.Models.Usuario
@{
    ViewBag.Title = "Login";
    string Nombre = ViewBag.Nombre;
    string Contraseña = ViewBag.Contraseña;
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Usuarios", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>Ingresar</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.Label(" ")
        <div class="form-group">
            @Html.LabelFor(model => model.Contraseña, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.Label(" ")
        @ViewBag.LabelError
        <div class="has-error">@ViewBag.Message</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ingresar" class="btn btn-default" />
            </div>
        </div>
        </div>
        }
