@model IEnumerable<ProyectoISW2.Models.Lapices>

@{
    ViewBag.Title = "Index";
}

<div class="formcustom form-horizontal">
    <h3>Lapices</h3>

    <p>
        @Html.ActionLink("Crear Nuevo Lapiz", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                   
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>